<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'images/main-logo.png' %}" type="image/x-icon" />
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet" />
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" />
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'icon/themify-icons/themify-icons.css' %}" />
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="{% static 'icon/icofont/css/icofont.css' %}" />
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>
      {% block title %}
        Leila Salão
      {% endblock %}
    </title>
  </head>
  <body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
      <div class="ball-scale">
        <div class="contain">
          <div class="ring">
            <div class="frame"></div>
          </div>
          <div class="ring">
            <div class="frame"></div>
          </div>
          <div class="ring">
            <div class="frame"></div>
          </div>
          <div class="ring">
            <div class="frame"></div>
          </div>
          <div class="ring">
            <div class="frame"></div>
          </div>
          <div class="ring">
            <div class="frame"></div>
          </div>
          <div class="ring">
            <div class="frame"></div>
          </div>
          <div class="ring">
            <div class="frame"></div>
          </div>
          <div class="ring">
            <div class="frame"></div>
          </div>
          <div class="ring">
            <div class="frame"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
      <div class="pcoded-overlay-box"></div>
      <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header">
          <div class="navbar-wrapper">
            <div class="navbar-logo">
              <a class="mobile-menu" id="mobile-collapse" href="#!"><i class="ti-menu"></i></a>
              <a class="mobile-search morphsearch-search" href="#"><i class="ti-search"></i></a>
              <a href="{% url 'home' %}"><img class="img-fluid" src="{% static 'images/main-logo-white-transparent.png' %}" alt="Theme-Logo" /></a>
              <a class="mobile-options"><i class="ti-more"></i></a>
            </div>

            <div class="navbar-container container-fluid">
              <ul class="nav-left">
                <li>
                  <div class="sidebar_toggle">
                    <a href="javascript:void(0)"><i class="ti-menu"></i></a>
                  </div>
                </li>

                <li>
                  <a href="#!" onclick="javascript:toggleFullScreen()"><i class="ti-fullscreen"></i></a>
                </li>
              </ul>
              <ul class="nav-right">
                <li class="user-profile header-notification">
                  <div>
                    <span>{{ user.first_name|default_if_none:'' }} {{ user.last_name|default_if_none:'' }}</span>
                    <i class="ti-angle-down"></i>
                  </div>
                  <ul class="show-notification profile-notification">
                    <li>
                      <a href="{% url 'usuarios_deslogar' %}"><i class="ti-layout-sidebar-left"></i> Sair</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="pcoded-main-container">
          <div class="pcoded-wrapper">
            <nav class="pcoded-navbar">
              <div class="sidebar_toggle">
                <a href="#"><i class="icon-close icons"></i></a>
              </div>
              <div class="pcoded-inner-navbar main-menu">
                <div class="pcoded-search" hidden>
                  <span class="searchbar-toggle"></span>
                  <div class="pcoded-search-box">
                    <input type="text" placeholder="Search" />
                    <span class="search-icon"><i class="ti-search" aria-hidden="true"></i></span>
                  </div>
                </div>
                <ul class="pcoded-item pcoded-left-item">
                  <li class="active">
                    <a href="index.html">
                      <span class="pcoded-micon"><i class="ti-home"></i><b>S</b></span>
                      <span class="pcoded-mtext" data-i18n="nav.dash.main">Serviços</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
            <div class="pcoded-content">
              <div class="pcoded-inner-content">
                <div class="main-body">
                  <div class="page-wrapper">
                    <div class="page-body">
                      {% block content %}

                      {% endblock %}
                    </div>
                  </div>

                  <div id="styleSelector"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fixed-button">
          <a href="https://codedthemes.com/item/guru-able-admin-template/" target="_blank" class="btn btn-md btn-primary"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Upgrade To Pro</a>
        </div>
      </div>
    </div>

    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->

    <!-- Required Jquery -->
    <script type="text/javascript" src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{% static 'js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="{% static 'js/modernizr/modernizr.js' %}"></script>
    <!-- am chart -->
    <script src="pages/widget/amchart/amcharts.min.js"></script>
    <script src="pages/widget/amchart/serial.min.js"></script>
    <!-- Todo js -->
    <script type="text/javascript" src="pages/todo/todo.js "></script>
    <!-- Custom js -->
    <script type="text/javascript" src="pages/dashboard/custom-dashboard.js"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/SmoothScroll.js' %}"></script>
    <script src="{% static 'js/pcoded.min.js' %}"></script>
    <script src="{% static 'js/demo-12.js' %}"></script>
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
  </body>
</html>
